@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --DarkGray: hsl(0, 0%, 17%);
    --Gray: hsl(0, 0%, 59%);
}

body {
    font-family: 'Rubik', sans-serif;
}

header {
    z-index: 401;
}

h1 {
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: white;
}

h2 {
    font-size: 0.75rem;
    letter-spacing: 2px;
    font-weight: 500;
    color: var(--Gray)
}

p {
    font-size: 1.40rem;
    font-weight: 500;
    color: var(--DarkGray);
}

a {
    color: rgb(33, 39, 218);
}

input {
    border: none;
    outline: none;
}

input::placeholder {
    font: 1rem/2;
}

/* mapContainer */

.leaflet-container {
    height: 100%;
}