@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}

:root {
    --DarkGray: hsl(0, 0%, 17%);
    --Gray: hsl(0, 0%, 59%);
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 2rem;
}

h2 {
    font-size: 0.7rem;
    letter-spacing: 2px;
    font-weight: 500;
    color: var(--Gray)
}

p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--DarkGray);
}

input {
    border: none;
    outline: none;
}

/* mapContainer */

.leaflet-container {
    height: 100%;
    z-index: -1;
}